body {
   background-color: #f0f0f0;
   font-family: 'Poppins', sans-serif;
   font-size: .925rem;
}

.container {
   background-color:#fff;
}

@media (min-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1520px;
  }
}

@media (min-width: 1800px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1720px;
  }
}

/*navbar*/

.navbar {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    z-index: 1000!important;
}

.navbar-light .navbar-nav .nav-link.active {
   font-weight:bold;
   color: rgba(0,0,0,.5);
}

/*footer*/
footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #343a40; /*#929FBA; /*#4285F4;*/
  color: #fff;
  display: block;
  position: relative;
  }
  footer.page-footer .container-fluid {
    width: auto; }
  footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 0.9rem; }
  footer.page-footer a {
    color: #fff; }



/*btn-default*/

.btn-default {
  color: #fff;
  background-color: #dbdbdb;
  border-color: #dbdbdb;
}

.btn-default:hover {
  color: #fff;
  background-color: #e0e0e0;
  border-color: #c0c0c0;
}

.btn-default:focus, .btn-default.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.btn-default.disabled, .btn-default:disabled {
  background-color: #dbdbdb;
  border-color: #dbdbdb;
}

.btn-default:active, .btn-default.active,
.show > .btn-default.dropdown-toggle {
  background-color: #e0e0e0;
  background-image: none;
  border-color: #c0c0c0;
}
